<meta charset="ISO-8859-1">
<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			Natural language processing App with Flask
		</div>
		<div>
		<h2>Game rating prediction</h2>
		</div>
	</div>
	</header>
	
	<div class="ml-container">

		<form action="/predictcall" method='POST'>
			<center>
			<p>Enter Your review Here</p>
		<!-- <input type="text" name="comment"/> -->
		<!--<input type="text" name="message">-->
		<textarea name="message" rows="4" cols="50"></textarea>
		<br/><br>

		<input type="submit" class="btn-info" value="Predict">
		<br><br>
		<center><h4><p id="rating">Rating =  {{result}}</p></h4>
	</center>
	</form>
		
	</div>

	
	

</body>
</html>
